<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>project-server</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<!-- Error Page -->
	<servlet>
		<servlet-name>error</servlet-name>
		<jsp-file>/error.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>error</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>


	<error-page>
		<location>/error</location>
	</error-page>

	<!-- JSP Config -->
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/taglib.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>

	<!-- CORS Policy -->
	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
		<init-param>
			<param-name>cors.allowed.origins</param-name>
			<param-value>http://localhost:3000,https://kimseungwoo449.github.io</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowed.methods</param-name>
			<param-value>GET,POST,DELETE,PUT</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowed.headers</param-name>
			<param-value>Authorization,Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
		</init-param>
		<init-param>
			<param-name>cors.exposed.headers</param-name>
			<param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
		</init-param>

		<init-param>
			<param-name>cors.support.credentials</param-name>
			<param-value>true</param-value>
		</init-param>

		<init-param>
			<param-name>cors.preflight.maxage</param-name>
			<param-value>10</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<!-- Servlet Mapping -->
	<servlet>
		<servlet-name>UserServiceServlet</servlet-name>
		<servlet-class>user.controller.ServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServiceServlet</servlet-name>
		<url-pattern>/user/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BoardServiceServlet</servlet-name>
		<servlet-class>board.controller.ServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardServiceServlet</servlet-name>
		<url-pattern>/board/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ResumeServiceServlet</servlet-name>
		<servlet-class>resume.controller.ServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResumeServiceServlet</servlet-name>
		<url-pattern>/resume/*</url-pattern>
	</servlet-mapping>

	
	<servlet>
		<servlet-name>StudyServiceServlet</servlet-name>
		<servlet-class>study.controller.ServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudyServiceServlet</servlet-name>
		<url-pattern>/study/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>IntroductionServiceServlet</servlet-name>
		<servlet-class>introduction.controller.ServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IntroductionServiceServlet</servlet-name>
		<url-pattern>/self-introduction/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CommentServiceServlet</servlet-name>
		<servlet-class>comment.controller.ServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommentServiceServlet</servlet-name>
		<url-pattern>/comment/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>JobPostingServiceServlet</servlet-name>
		<servlet-class>job_posting.controller.ServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JobPostingServiceServlet</servlet-name>
		<url-pattern>/job/*</url-pattern>
	</servlet-mapping>
</web-app>