<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>project-server</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<!-- Servlet Mapping -->
	<servlet>
		<servlet-name>UserServiceServlet</servlet-name>
		<servlet-class>user.controller.ServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServiceServlet</servlet-name>
		<url-pattern>/user/*</url-pattern>
	</servlet-mapping>

	<!-- Error Page -->
	<servlet>
		<servlet-name>error</servlet-name>
		<jsp-file>/error.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>error</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>


	<error-page>
		<location>/error</location>
	</error-page>

	<!-- JSP Config -->
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/taglib.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>
</web-app>